.intro {
    padding:2vw;
    height:60vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    width:100vw;
    margin-left: calc( -100vw /2 + 100% /2);
    margin-right: calc( -100vw / 2 + 100% /2 );
}