.header {
    padding:0;
    margin:0;
    background: url('https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center center;
    background-attachment: fixed;
    background-size:cover;
    height:60vh;
}

.foreground {
    height:60vh;
    width:100vw;
    backdrop-filter: blur(6px) hue-rotate(250deg);
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.btnPrimary {
    border:1px solid white;
    color:white;
    background:#000068;;
    padding:1em;
    margin:6px;
    cursor: pointer;
    transition: all 0.1s;
    font-weight:bold;
    font-size:0.75rem
}

.btnPrimary:hover {
    background: blue;
}

.btnSecondary {
    border:1px solid white;
    color: white;
    background: none;
    padding: 1em;
    margin: 6px;
    cursor: pointer;
    font-weight:bold;
    font-size:0.75rem;
}

.btnSecondary:hover {
    background: rgba(255, 255, 255, 0.1);
}
