html {
    font-family: 'Roboto';
    font-size: clamp(1rem, 0.9090909090909091rem + 0.45454545454545453vw, 2rem);
}

body {
    margin:0;
}

img {
    max-width:100%;
    height: auto;
}

.ultek {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p {
    font-weight:300;
    line-height: 1.6;
}

@media (prefers-color-scheme: light) {
    .ultek {
        background: #f6f6f6;
        color: #161616;
    }
    
    hr {
        border-top:1px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    .ultek {
        background: #161616;
        color: #f6f6f6;
    }

    hr {
        border-top:1px solid white;
    }
}