.siteNav {
	background: #161616;
	padding: 1vh;
	border-top:1px solid #363636;
	padding-left:0;
}

.nav-list {
	list-style:none;
}

@media (min-width: 1024px) { 
    .nav-list {
		text-align:right;
		padding-left:16vw;
		padding-right:16vw;
	}
}

