.btn {
    background: none;
    border: 1px solid black;
    border-radius:0;
    margin:6px;
    cursor: pointer;
    transition: all 0.1s;;
}

.btn:hover {
    transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
    .btn {
        color:white;
        border: 1px solid white;
    }
}